In [14]:
import pandas as pd
import seaborn as sb
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import missingno as msno
from itertools import islice
import csv

In [43]:
state_hash =  {'AL': 'Alabama',
    'AK': 'Alaska',
    'AS': 'American Samoa',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'DC': 'District Of Columbia',
    'FM': 'Federated States Of Micronesia',
    'FL': 'Florida',
    'GA': 'Georgia',
    'GU': 'Guam',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MH': 'Marshall Islands',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'MP': 'Northern Mariana Islands',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PW': 'Palau',
    'PA': 'Pennsylvania',
    'PR': 'Puerto Rico',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VI': 'Virgin Islands',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
  };

In [44]:
state_codes = ['MO', 'NC', 'WI', 'NY', 'WV', 'LA', 'TX', 'NJ', 'FL', 'TN', 'GA',
       'WA', 'AR', 'IL', 'CA', 'WY', 'MN', 'CO', 'DC', 'PA', 'ME', 'IN',
       'MI', 'OR', 'OK', 'UT', 'AL', 'NV', 'AZ', 'CT', 'OH', 'VA', 'HI',
       'NM', 'MD', 'MA', 'KY', 'NH', 'ND', 'MS', 'DE', 'SC', 'KS', 'NE',
       'AK', 'RI', 'VT', 'MT', 'ID', 'SD']

state_names = dict.fromkeys(state_codes)
for key in state_codes:
    state_names[key] = state_hash[key]
print(state_names)

{'MO': 'Missouri', 'NC': 'North Carolina', 'WI': 'Wisconsin', 'NY': 'New York', 'WV': 'West Virginia', 'LA': 'Louisiana', 'TX': 'Texas', 'NJ': 'New Jersey', 'FL': 'Florida', 'TN': 'Tennessee', 'GA': 'Georgia', 'WA': 'Washington', 'AR': 'Arkansas', 'IL': 'Illinois', 'CA': 'California', 'WY': 'Wyoming', 'MN': 'Minnesota', 'CO': 'Colorado', 'DC': 'District Of Columbia', 'PA': 'Pennsylvania', 'ME': 'Maine', 'IN': 'Indiana', 'MI': 'Michigan', 'OR': 'Oregon', 'OK': 'Oklahoma', 'UT': 'Utah', 'AL': 'Alabama', 'NV': 'Nevada', 'AZ': 'Arizona', 'CT': 'Connecticut', 'OH': 'Ohio', 'VA': 'Virginia', 'HI': 'Hawaii', 'NM': 'New Mexico', 'MD': 'Maryland', 'MA': 'Massachusetts', 'KY': 'Kentucky', 'NH': 'New Hampshire', 'ND': 'North Dakota', 'MS': 'Mississippi', 'DE': 'Delaware', 'SC': 'South Carolina', 'KS': 'Kansas', 'NE': 'Nebraska', 'AK': 'Alaska', 'RI': 'Rhode Island', 'VT': 'Vermont', 'MT': 'Montana', 'ID': 'Idaho', 'SD': 'South Dakota'}

In [16]:
data1 = pd.read_csv('https://www.census.gov/quickfacts/fact/csv/ny,US/PST045217')
data2 = pd.read_csv('https://www.census.gov/quickfacts/fact/csv/ma,US/PST045217')

In [17]:
data1.head()

,Fact,Fact Note,New York,Value Note for New York,UNITED STATES,Value Note for UNITED STATES
0,"Population estimates, July 1, 2017, (V2017)",NaN,"19,849,399",NaN,"325,719,178",NaN
1,"Population estimates base, April 1, 2010, (V2...",NaN,"19,378,110",NaN,"308,758,105",NaN
2,"Population, percent change - April 1, 2010 (es...",NaN,2.4%,NaN,5.5%,NaN
3,"Population, Census, April 1, 2010",NaN,"19,378,102",NaN,"308,745,538",NaN
4,"Persons under 5 years, percent",NaN,5.9%,NaN,6.1%,NaN

In [11]:
data2.head()

,Fact,Fact Note,Massachusetts,Value Note for Massachusetts,UNITED STATES,Value Note for UNITED STATES
0,"Population estimates, July 1, 2017, (V2017)",NaN,"6,859,819",NaN,"325,719,178",NaN
1,"Population estimates base, April 1, 2010, (V2...",NaN,"6,547,808",NaN,"308,758,105",NaN
2,"Population, percent change - April 1, 2010 (es...",NaN,4.8%,NaN,5.5%,NaN
3,"Population, Census, April 1, 2010",NaN,"6,547,629",NaN,"308,745,538",NaN
4,"Persons under 5 years, percent",NaN,5.3%,NaN,6.1%,NaN